body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.content {
    padding: 20px;
}
